body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F3A5C;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    justify-content: center;
    list-style: none;
    padding: 0;
    text-align: center; 
    color: #FFBF0C; 
}

nav li {
    display: inline-block; 
    margin: 0 10px;
    color: #FFBF0C; 
} 

nav li a {
    color: #FFBF0C; 
}

footer {
    background-color: #E9EAED;
    color: #000000; 
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
   
}

ul{
    display: inline-block;
}

#opc4, #delog{
    color: #FFBF0C;
    padding-left:0.7%;
}

.Label_Usuario {
    display: block;
    margin-bottom: 5px;
    color: #1F3A5C;
}

.Field_Usuario,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 300px;
}

input[type="submit"] {
    background-color: #1F3A5C;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0E1E31;
}

.formulario_agregar_usuario {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


footer {
    background-color: #E9EAED;
    color: #000000; 
    padding: 20px 0;
    text-align: center;
}

.content {
    padding-bottom: 100px;
}

.formulario_agregar_usuario {
    margin-top: 50px;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 300px;
}

.Field_Usuario,
#Select_TipoUsuario {
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

#Button_AgregarUsuario {
    width: 200px; 
    height: 40px; 
    background-color: #1F3A5C;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px; 
    margin-bottom: 20px; 
    display: block;
    margin-left: auto; 
    margin-right: auto;
    transition: background-color 0.3s ease;
}


@keyframes pulse {
    from {
        transform: scale(1); 
    }
    to {
        transform: scale(1.1); 
    }
}

#Button_AgregarUsuario:hover {
    background-color: #0E1E31; 
}

#subtesis{
    position: absolute;
    left: 35%;
    top: 35%;
}
