body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F3A5C;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    justify-content: center;
    list-style: none;
    padding: 0;
    text-align: center; 
    color: #FFBF0C; 
}

nav li {
    display: inline-block; 
    margin: 0 10px;
    color: #FFBF0C; 
} 

nav li a {
    color: #FFBF0C; 
}

footer {
    background-color: #E9EAED;
    color: #000000; 
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
   
}
ul {
    display: inline-block;
}

#opc4, #delog {
    color: #FFBF0C;
    padding-left: 0.7%;
}

.formulario_contacto {
    margin-top: 50px;
    display: flex;
    justify-content: center; /* Cambiado para centrar el formulario */
    align-items: center;
    background-color: #cceeff; /* Color de fondo azul */
    padding: 20px; /* Espacio alrededor del formulario */
    border-radius: 5px; /* Bordes redondeados */
    width: 50%; /* Ancho del formulario */
}

#contactForm {
    width: 100%; /* Ajustado al 100% del contenedor */
}

#contactForm label {
    display: block;
    margin-bottom: 5px;
    color: #1F3A5C;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contactForm textarea {
    height: 100px;
}

#contactForm input[type="submit"] {
    background-color: #FFBF0C; /* Color de fondo amarillo */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#contactForm input[type="submit"]:hover {
    background-color: #FFA500; 
}
