body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F3A5C;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    justify-content: center;
    list-style: none;
    padding: 0;
    text-align: center; 
    color: #FFBF0C; 
}

nav li {
    display: inline-block; 
    margin: 0 10px;
    color: #FFBF0C; 
} 

nav li a {
    color: #FFBF0C; 
}

footer {
    background-color: #E9EAED;
    color: #000000; 
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
   
}

ul{
    display: inline-block;
}

#opc4, #delog{
    color: #FFBF0C;
    padding-left:0.7%;
}



.body-tabladedatos {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-tabladedatos {
    background-color: #1F3A5C;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.nav-tabladedatos {
    justify-content: center;
    list-style: none;
    padding: 0;
    text-align: center; 
    color: #FFBF0C; 
}

.nav-tabladedatos li {
    display: inline-block; 
    margin: 0 10px;
    color: #FFBF0C; 
} 

.nav-tabladedatos li a {
    color: #FFBF0C; 
}

.footer-tabladedatos {
    background-color: #E9EAED;
    color: #000000; 
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container-tabladedatos {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table-tabladedatos {
    width: 80%;
    border-collapse: collapse;
    margin: 4 auto;
}

.th-tabladedatos,
.td-tabladedatos {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.th-tabladedatos {
    background-color: #1F3A5C;
    color: #ffffff;
}

.tbody-tabladedatos tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tbody-tabladedatos tr:hover {
    background-color: #ddd;
}

/* Estilo Contact Us */

.formulario_contacto {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contactForm {
    width: 80%;
    margin: 0 auto;
}

#contactForm label {
    display: block;
    margin-bottom: 5px;
    color: #1F3A5C;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contactForm textarea {
    height: 100px;
}

#contactForm input[type="submit"] {
    background-color: #1F3A5C;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#contactForm input[type="submit"]:hover {
    background-color: #0E1E31;
}

/*A partir de aquí es toda la parte de agregar usuario */
.Label_Usuario {
    display: block;
    margin-bottom: 5px;
    color: #1F3A5C;
}

.Field_Usuario,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #1F3A5C;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0E1E31;
}

.formulario_agregar_usuario {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


footer {
    background-color: #E9EAED;
    color: #000000; 
    padding: 20px 0;
    text-align: center;
}

.content {
    padding-bottom: 100px;
}

.formulario_agregar_usuario {
    margin-top: 50px;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Field_Usuario,
#Select_TipoUsuario {
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

#Button_AgregarUsuario {
    width: 200px; 
    height: 40px; 
    background-color: #1F3A5C;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px; 
    margin-bottom: 20px; 
    display: block;
    margin-left: auto; 
    margin-right: auto;
    transition: background-color 0.3s ease;
}


@keyframes pulse {
    from {
        transform: scale(1); 
    }
    to {
        transform: scale(1.1); 
    }
}

#Button_AgregarUsuario:hover {
    background-color: #0E1E31; 
}

#subtesis{
    position: absolute;
    left: 35%;
    top: 35%;
}

