body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F3A5C;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    justify-content: center;
    list-style: none;
    padding: 0;
    text-align: center; 
    color: #FFBF0C; 
}

nav li {
    display: inline-block; 
    margin: 0 10px;
    color: #FFBF0C; 
} 

nav li a {
    color: #FFBF0C; 
}

footer {
    background-color: #E9EAED;
    color: #000000; 
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
   
}

ul{
    display: inline-block;
}

#opc4, #delog{
    color: #FFBF0C;
    padding-left:0.7%;
}



.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.block-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-right: 250px; 
}

.block-button:last-child {
    margin-right: 0; 
}
.container {
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.block-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.block-button:hover {
    transform: scale(1.1);
}

.block-button img {
    display: block;
    width: 100px; 
    height: auto;
    margin: 0 auto 10px;
}

.block-button p {
    margin: 0;
    font-size: 17px; 
}

.button-description {
    font-size: 17px; 
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}


#subtesis{
    position: absolute;
    left: 35%;
    top: 35%;
}
